# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Test reports and cache
reports
.pytest_cache/
htmlcov/
.coverage

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.pyc
.pytest_cache/